PONG_SERIAL_PORT=porta_serial_do_arduino
PONG_SERIAL_BAUDRATE=velocidade_serial_em_bps
PONG_SERIAL_TIMEOUT_SECONDS=tempo_maximo_de_leitura_em_segundos
PONG_SERIAL_STARTUP_DELAY_SECONDS=tempo_de_estabilizacao_em_segundos
PONG_SERIAL_RECONNECT_DELAY_SECONDS=intervalo_de_reconexao_em_segundos
PONG_POT1_PIN=pino_do_potenciometro_1
PONG_POT2_PIN=pino_do_potenciometro_2
PONG_SERVER_HOST=endereco_de_bind_do_servidor
PONG_SERVER_PORT=porta_http_e_websocket
